.header-wrap {
  padding: 1.3rem 0;
}
.header {
  width: 100%;
  max-width: 80%;
  height: 50px;
  background-color: #fff;
  margin: auto;
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .navigation-button {
    font-size: 1.5rem;
    margin: 0 3rem;
    &.selected {
      color: #3f7be7;
    }
  }
}